.footer-style{
    width: 100%;
    background-color: gray;
}
.footer-items{
    padding-top: 5%;
    text-align: left;
}
.footer-heading{
    font-weight: 400;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white
}
.list{
    list-style-type: none;
    color: white;
    padding-left: 0px;
    margin-top: 10%;
}
.list li{
    padding-top: 5px;
    font-weight: 300;
}
.last{
    font-weight: 400;
    color:white;
    margin-top: 1%;
    padding-bottom: 1%;
    font-size: 10px;
}